html, body {
  background-image: url("./images/doodles.png");
  height: 100%;
  position: relative;
}

.container {
  min-height: 100%;
  margin: auto;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
  width: 80%;
  text-align: center;
}

.title {
  color: #008CBA;
  font-family: 'Lemon', cursive;
  font-size: 3rem;
}

p {
  color: #008CBA;
  font-family: 'Lemon', cursive;
  font-size: 1rem;
  margin: 30px;

}

input {
  border: none;
  border-bottom: 2px solid #008CBA;
  border-radius: 8px;
  margin: 10px;
  padding: 10px 20px;
  width: 40%;
}

#submit-btn {
  background-color: white;
  border: 2px solid #008CBA;
  border-radius: 8px;
  color: #008CBA;
  padding: 15px 32px;
  text-align: center;
  font-size: 10px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#submit-btn:hover {
  background-color: #008CBA;
  color: white;
}

#list {
  margin-top: 4rem;
}


li {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  list-style-type: none;
  padding: 8px;
  width: 50%;
}

.todo-item {
  border : 2px solid #008CBA;
  border-radius: 8px;
  background-color: #008CBA;
  color: white;
  margin: 15px auto;
}

.completed {
  text-decoration: line-through;
}

footer {
  color: #008CBA;
  font-family: 'Raleway', sans-serif;
  font-weight: bold; 
  position: absolute;
  bottom: 0;
  width: 100%;
}
