html, body {
  height: 100%;
 position: relative;
}


.container {
  min-height: 100%;
  margin: auto;
  padding-bottom: 100px;
  position: relative;
  width: 80%;
  text-align: center;
}

.title {
  font-family: 'Lemon', cursive;
  font-size: 3rem;
}

#list {
  margin-top: 4rem;
}


li {
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
  list-style-type: none;
  padding: 8px;
  width: 50%;
}

.todo-item {
  border : 2px solid grey;
  border-radius: 8px;
  margin: 15px auto;
}

.completed {
  text-decoration: line-through;
}

footer { 
  position: absolute;
  bottom: 0;
  width: 100%;
}
