.container {
  margin: auto;
  width: 80%;
  text-align: center;
}

.title {
  font-family: 'Lemon', cursive;
  font-size: 3rem;
}

li {
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
  list-style-type: none;
  width: 50%;
}

.todo-item {
  border : 2px solid grey;
  border-radius: 8px;
  margin: 15px auto;
}


.completed {
  text-decoration: line-through;
}
